body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100;
    background: url(924504.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}